<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div>
                <h1>Oh no!</h1>
                <p>
                    Looks like the page you tried to visit has exited the known galaxy, how about you jump over to <a href="http://github.com/aelgi/Aelgi.Engine">Github</a> and create issue!
                </p>
                <p>Thanks, Daniel</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
