header, nav {
    width: 100vw;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.header-content {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;

    padding: 10px;
}

.header-content a {
    font-weight: bold;
    border-bottom: 0px solid white;
    transition: border-bottom ease 0.3s;
    color: white;
    text-decoration: none;
}

.header-content a + a {
    margin-left: 24px;
}

.header-content a:hover {
    border-bottom: 3px solid white;
}