// https://htmlcolorcodes.com/color-picker/

// $primary: #7ec0ee;
$primary: #054b8c;
$background: #dddddd;
$white: #e0e9f1;
$black: #011323;

$error: #c50707;
$success: #25c309;
$warning: #f59229;
$info: #1f93ff;