@import "_variables.scss";

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: $background;
}

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

@import "_layout.scss";
@import "_headings.scss";
@import "_card.scss";

a {
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 0px;

  &.block {
    padding: 10px;
    border: 1px solid $primary;
  }
}

a + a {
  margin-left: 10px;
}
