@inherits LayoutComponentBase

<header>
    <h1>Sanchez.Blog</h1>

    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink href="about">
                About
            </NavLink>
        </div>
    </nav>
</header>

<main class="main-layout">
    <div>
        @Body
    </div>
</main>

<footer>
</footer>
